* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Text Styles */
body {
    background-color: rgb(25,29,122);
    color:white;
    text-align: center;
}
h1 {
    font-family: 'Sigmar', sans-serif;
    font-size:42px;
    color: white;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
/* Banner Style */
.banner {
    max-width: 100%;
    height: auto;
}
/*Button Section Box Container*/
.button-box {
    margin-top: 100px;
    text-align: center;
}
/*Style Button*/
.btn-container {
    display: block;
    width: 80%;
    margin: 20px auto;
}
.download-btn {
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 15px;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.discord-btn {
    background-color: rgb(87, 100, 238);
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 50px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.box {
    width: 90%;
    max-width: 512px;
    margin: 0 auto;
}
/*Video*/
video {
    border-radius: 20px;
    margin-top: 20px;
}
/*Chat Image*/
.chat-image {
    width: 390px;
    height: 300px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*First Box*/
.first-box {
    text-align: left;
    position: relative;
    background-color: #5C63CF;
    border-radius: 20px;
    padding: 70px 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}
/*Image in the first box*/
.first-box-image img {
    position: absolute;
    top: -65px;
    left: 40px;
    height: 130px;
    width: 130px;
}
/*Second Box*/
.second-box {
    text-align: left;
    position: relative;
    background-color: #5C63CF;
    border-radius: 20px;
    padding: 70px 30px;
    margin-top: 50px;
}
/*Image in the second box*/
.second-box-image img {
    position: absolute;
    top: -65px;
    left: 40px;
    height: 130px;
    width: 130px;
}