* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: rgb(25,29,122);
    font-family: 'DM Sans', sans-serif;
    color:white;
    text-align: center;
}
h1 {
    font-family: 'Sigmar', sans-serif;
    font-size:35px;
    color: white;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
/* Banner Style */
.banner {
    max-width: 100%;
    height: auto;
}
/*Style Button*/
.btn-container {
    display: block;
    width: 80%;
    margin: 20px auto;
}
.download-btn {
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 15px;
    border: none;
    color: black;
    text-align: center;
    cursor: pointer;
}
.discord-btn {
    background-color: rgb(87, 100, 238);
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 50px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
.box {
    width: 90%;
    max-width: 512px;
    margin: 0 auto;
}
iframe {
    border-radius: 20px;
    margin-top: 20px;
}
.chat-image {
    width: 215px;
    height: 215px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*First Box*/
.first-box {
    background-color: #5C63CF;
    border-radius: 20px;
    padding: 30px 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}
/*Second Box*/
.second-box {
    background-color: #5C63CF;
    border-radius: 20px;
    padding: 30px 10px;
    margin-top: 50px;
}