* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Style Setup */
body {
    background-color: #0E1155;
}
h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    text-transform: uppercase;
    /*text-align: center;*/
    color: white;
    margin-top: 50px;
}
p {
    color: lightgrey;
    /*text-align: center;*/
    font-size: 16px;
    font-weight: 200px;
    margin: 10px 30px;
    margin-top: 5px;
}
i {
    margin: 5px;
}
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Modifiche all'immagine header*/
.banner img {
   max-width: 100%;
   height: auto;
}
/*Button Box*/
.box-btn {
    display: block;
    margin: 80 auto;
}
/*Mobile Button*/
.mobile-btn {
    background-color: #333590;
    border: none;
    border-radius: 7px;;
    display: block;
    font-size: 16px;
    color: white;
    padding: 15px;
    width: 300px;
    margin: 20px auto;
}
/*Browser Button*/
.browser-btn {
    background-color: #1B1A1D;
    border: none;
    border-radius: 7px;
    display: block;
    font-size: 16px;
    color: grey;
    padding: 15px;
    width: 300px;
    margin: 20px auto;
}
/*Boxes Style*/
.first-box {
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 20px;
}
.second-box {
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 20px;
}
.third-box {
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 20px;
}
h3 {
    color: white;
    text-align: left;
    padding: 0 30px;
}
section p {
    text-align: left;
}
/* Icon style for people-fill */
i.bi-people-fill {
    color: #9aa0ff;
    margin-right: 6px;
    vertical-align: middle;
    padding: 15px 21px;
}
i.bi-chat-left-dots-fill {
    color: #9aa0ff;
    margin-right: 6px;
    vertical-align: middle;
    padding: 15px 21px;
}
i.bi-rocket-takeoff {
    color: #9aa0ff;
    margin-right: 6px;
    vertical-align: middle;
    padding: 15px 21px;
}